In [1]:
import pandas as pd

In [2]:
import numpy as np

In [9]:
df_1 = pd.read_csv(r'C:\Users\fiskh\OneDrive\Рабочий стол\Kaggle\country_vaccinations.csv')
df_2 = pd.read_csv(r"C:\Users\fiskh\OneDrive\Рабочий стол\Kaggle\country_vaccinations_by_manufacturer.csv")

In [16]:
df_2.head(10)

    location        date             vaccine  total_vaccinations
0  Argentina  2020-12-29             Moderna                   2
1  Argentina  2020-12-29  Oxford/AstraZeneca                   3
2  Argentina  2020-12-29   Sinopharm/Beijing                   1
3  Argentina  2020-12-29           Sputnik V               20481
4  Argentina  2020-12-30             Moderna                   2
5  Argentina  2020-12-30  Oxford/AstraZeneca                   3
6  Argentina  2020-12-30   Sinopharm/Beijing                   1
7  Argentina  2020-12-30           Sputnik V               40583
8  Argentina  2020-12-31             Moderna                   2
9  Argentina  2020-12-31  Oxford/AstraZeneca                   3

In [11]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35623 entries, 0 to 35622
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   location            35623 non-null  object
 1   date                35623 non-null  object
 2   vaccine             35623 non-null  object
 3   total_vaccinations  35623 non-null  int64
dtypes: int64(1), object(3)
memory usage: 1.1+ MB

In [6]:
#Какая вакцина является самой популярной?

In [15]:
df_2.groupby('vaccine')['total_vaccinations'].sum().sort_values(ascending=False)

vaccine
Pfizer/BioNTech       344835955037
Moderna               103072147621
Oxford/AstraZeneca     46451509497
Sinovac                13407163275
Johnson&Johnson        12611375881
Sinopharm/Beijing      10877006517
Sputnik V               5787343199
CanSino                  271397675
Novavax                    8268113
Covaxin                       3572
Name: total_vaccinations, dtype: int64

In [17]:
#В какой стране больше всего вакцинировались?

In [25]:
df_2.groupby(['location'])['total_vaccinations'].sum().sort_values(ascending=False).reset_index().head(5)
# European Union это объединение 27 европейских государств, то в больше всего вакцинировались в United States

         location  total_vaccinations
0  European Union        193020139251
1   United States        139944068653
2         Germany         38982830332
3          France         32177039372
4           Italy         28306588441

In [30]:
#В каких странах ваксинировались "Sputnik V"

In [31]:
df_2[df_2['vaccine']=='Sputnik V'].groupby(['location'])['total_vaccinations'].sum().sort_values(ascending=False)

location
Argentina         5092133323
European Union     627748875
Hungary             67080457
Slovakia              380544
Name: total_vaccinations, dtype: int64

In [32]:
#Какие страны быстрее всего достигли 80% полного вакуума?

In [33]:
df_1.head(10)

,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,vaccines,source_name,source_website
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,0.00,0.00,NaN,NaN,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
5,Afghanistan,AFG,2021-02-27,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
6,Afghanistan,AFG,2021-02-28,8200.0,8200.0,NaN,NaN,1367.0,0.02,0.02,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
7,Afghanistan,AFG,2021-03-01,NaN,NaN,NaN,NaN,1580.0,NaN,NaN,NaN,40.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
8,Afghanistan,AFG,2021-03-02,NaN,NaN,NaN,NaN,1794.0,NaN,NaN,NaN,45.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
9,Afghanistan,AFG,2021-03-03,NaN,NaN,NaN,NaN,2008.0,NaN,NaN,NaN,50.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/

In [55]:
df_1[df_1['people_fully_vaccinated_per_hundred']>80].groupby('country').min().sort_values(by = 'date').reset_index()[['country','date','people_fully_vaccinated_per_hundred']]

#Какие страны быстрее всего достигли 80% полного вакуума?

                 country        date  people_fully_vaccinated_per_hundred
0              Gibraltar  2021-03-27                                82.11
1                  Malta  2021-09-01                                80.03
2               Pitcairn  2021-09-07                               100.00
3               Portugal  2021-09-12                                81.10
4   United Arab Emirates  2021-09-18                                80.18
5              Singapore  2021-09-25                                80.10
6         Cayman Islands  2021-10-22                                80.73
7                  Chile  2021-11-04                                80.16
8                  Spain  2021-11-09                                80.05
9                   Cuba  2021-11-21                                80.01
10           South Korea  2021-11-29                                80.20
11                Brunei  2021-12-07                                80.99
12                 China  2021-12-10                                80.49
13              Cambodia  2021-12-13                                80.01
14        Faeroe Islands  2021-12-22                                82.41
15               Denmark  2022-01-06                                80.12
16              Guernsey  2022-01-11                                81.01
17                Canada  2022-02-09                                80.05
18            Seychelles  2022-02-15                                80.54
19             Argentina  2022-02-28                                80.02
20                 Qatar  2022-03-03                                87.90
21               Ireland  2022-03-05                                80.03
22               Uruguay  2022-03-09                                80.02
23             Australia  2022-03-11                                80.12
24                  Niue  2022-03-13                                87.79
25          Cook Islands  2022-03-14                                81.04